Repository palkan/ruby-russia-2020: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standardjs, stylelint

rubocop:
  tags: ruby style
  runner: bundle exec rubocop --parallel --force-exclusion {staged_files} && git add {staged_files}

standardjs:
  tags: frontend style
  runner: yarn standard --fix {staged_files} && git add {staged_files}

stylelint:
  tags: frontend style
  runner: yarn stylelint {staged_files} && git add {staged_files}

Update devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/setup.sh
  .dockerdev/docker-compose.yml
Due: none

Add top navbar markup
  app/frontend/styles/application.scss
  app/frontend/styles/tailwind.scss
  app/frontend/tailwind.config.js
  app/helpers/application_helper.rb
  app/views/layouts/application.html.slim
  app/views/layouts/core.slim
  config/locales/en.yml
  config/locales/ru.yml
  spec/system/sessions/logout_spec.rb
Due: rubocop, standardjs, stylelint

Add heropatterns background
  app/frontend/styles/application.scss
Due: stylelint

yarn add tailwindcss
  .dockerdev/docker-compose.yml
  .stylelintrc.json
  app/frontend/packs/application.js
  app/frontend/styles/application.scss
  app/frontend/tailwind.config.js
  config/webpacker.yml
  guides/01_tailwindcss.md
  package.json
  postcss.config.js
  yarn.lock
Due: standardjs, stylelint

Fix sessions_controller layout
  app/controllers/sessions_controller.rb
Due: rubocop

Windify login form 🖌
  app/frontend/styles/application.scss
  app/views/sessions/new.html.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: stylelint

yarn add @shoelace-style/shoelace
  .stylelintrc.json
  app/frontend/packs/shoelace.js
  app/frontend/styles/application.scss
  app/frontend/styles/shoelace.scss
  app/views/layouts/application.html.slim
  app/views/layouts/core.slim
  config/webpack/environment.js
  guides/02_shoelace.md
  package.json
  spec/system/sessions/logout_spec.rb
  yarn.lock
Due: rubocop, standardjs, stylelint

Add flash notifications
  app/controllers/sessions_controller.rb
  app/frontend/packs/shoelace.js
  app/frontend/styles/shoelace.scss
  app/views/layouts/_flash.html.slim
  app/views/layouts/core.slim
  config/locales/en.yml
  config/locales/ru.yml
  spec/system/sessions/login_spec.rb
Due: rubocop, standardjs, stylelint

Setup view components 🧱
  Gemfile
  Gemfile.lock
  app/frontend/components/application_view_component.rb
  app/frontend/components/application_view_component_preview.rb
  app/frontend/components/index.js
  app/frontend/packs/application.js
  app/views/layouts/view_components/application.html.slim
  app/views/layouts/view_components/preview.html.slim
  config/application.rb
  config/initializers/view_component.rb
  config/webpack/development.js
  lib/generators/view_component/USAGE
  lib/generators/view_component/templates/component.html.slim.tt
  lib/generators/view_component/templates/component.js.tt
  lib/generators/view_component/templates/component.rb.tt
  lib/generators/view_component/templates/component.scss.tt
  lib/generators/view_component/templates/component_preview.rb.tt
  lib/generators/view_component/templates/component_spec.rb.tt
  lib/generators/view_component/view_component_generator.rb
  spec/rails_helper.rb
Due: rubocop, standardjs

bundle add dry-effects
  Gemfile
  Gemfile.lock
  app/controllers/concerns/authenticated.rb
  app/frontend/components/application_view_component_preview.rb
  guides/03_view_components.md
  spec/rails_helper.rb
Due: rubocop

Componentify topnavbar
  app/frontend/components/topnavbar/container/component.html.slim
  app/frontend/components/topnavbar/container/component.js
  app/frontend/components/topnavbar/container/component.rb
  app/frontend/components/topnavbar/container/component.scss
  app/frontend/components/topnavbar/container/component_preview.rb
  app/frontend/components/topnavbar/login/component.html.slim
  app/frontend/components/topnavbar/login/component.rb
  app/frontend/components/topnavbar/search/component.html.slim
  app/frontend/components/topnavbar/search/component.rb
  app/frontend/components/topnavbar/user/component.html.slim
  app/frontend/components/topnavbar/user/component.rb
  app/frontend/styles/application.scss
  app/views/layouts/application.html.slim
  spec/frontend/components/topnavbar/container_spec.rb
Due: rubocop, standardjs, stylelint

Add #inline_svg
  app/frontend/components/application_view_component.rb
  app/frontend/components/topnavbar/container/component.html.slim
  app/frontend/components/topnavbar/login/component.html.slim
  app/frontend/components/topnavbar/user/component.html.slim
  app/frontend/images/icons/login.svg
  app/frontend/images/icons/user.svg
  app/frontend/images/logo.svg
Due: rubocop

Filter capybara from RSpec backtrace
  spec/rails_helper.rb
Due: rubocop

bundle add dry-initializer
  Gemfile
  Gemfile.lock
  app/frontend/components/application_view_component.rb
  lib/generators/view_component/templates/component.rb.tt
  lib/generators/view_component/view_component_generator.rb
Due: rubocop

Add #component
  app/frontend/components/topnavbar/container/component.html.slim
  app/helpers/application_helper.rb
  app/views/layouts/application.html.slim
Due: rubocop

Add tracklist component
  app/frontend/components/tracks/list/component.html.slim
  app/frontend/components/tracks/list/component.js
  app/frontend/components/tracks/list/component.rb
  app/frontend/components/tracks/list/component.scss
  app/frontend/components/tracks/list/component_preview.rb
  app/frontend/images/icons/heart.svg
  app/frontend/images/icons/play.svg
  app/frontend/images/icons/solid/heart.svg
  app/frontend/images/icons/solid/pause.svg
  app/helpers/application_helper.rb
  app/models/track.rb
  spec/frontend/components/tracks/list_spec.rb
Due: rubocop, standardjs, stylelint

Componentify albums and dashboard
  app/frontend/components/albums/tile/component.html.slim
  app/frontend/components/albums/tile/component.rb
  app/frontend/components/albums/tile/component_preview.rb
  app/frontend/components/dashboard/component.html.slim
  app/frontend/components/dashboard/component.js
  app/frontend/components/dashboard/component.rb
  app/frontend/components/dashboard/component.scss
  app/frontend/components/dashboard/component_preview.rb
  app/frontend/components/tile/component.html.slim
  app/frontend/components/tile/component.js
  app/frontend/components/tile/component.rb
  app/frontend/components/tile/component.scss
  app/frontend/components/tiles/placeholder/component.html.slim
  app/frontend/components/tiles/placeholder/component.js
  app/frontend/components/tiles/placeholder/component.rb
  app/frontend/components/tiles/placeholder/component.scss
  app/frontend/components/tiles/placeholder/component_preview.rb
  app/frontend/components/tracks/tile/component.html.slim
  app/frontend/components/tracks/tile/component.rb
  app/frontend/components/tracks/tile/component_preview.rb
  app/frontend/images/icons/solid/play.svg
  app/helpers/application_helper.rb
  app/views/dashboard/show.html.slim
  config/locales/en.yml
  config/locales/ru.yml
  spec/frontend/components/albums/tile_spec.rb
  spec/frontend/components/tracks/tile_spec.rb
  spec/system/dashboard_spec.rb
Due: rubocop, standardjs, stylelint

Support component_preview.html.slim
  app/frontend/components/application_view_component_preview.rb
Due: rubocop

Fix layout css
  app/frontend/components/topnavbar/container/component.scss
  app/frontend/styles/application.scss
  app/views/layouts/application.html.slim
Due: stylelint

Add #current_track
  app/controllers/application_controller.rb
  app/controllers/concerns/player_tracked.rb
  app/frontend/components/application_view_component.rb
  app/frontend/components/application_view_component_preview.rb
  config/initializers/view_component.rb
  spec/rails_helper.rb
Due: rubocop

#classify -> #camelize
  app/helpers/application_helper.rb
Due: rubocop

Add album component
  app/frontend/components/album/component.html.slim
  app/frontend/components/album/component.rb
  app/frontend/components/album/component_preview.rb
  app/frontend/components/albums/header/component.html.slim
  app/frontend/components/albums/header/component.js
  app/frontend/components/albums/header/component.rb
  app/frontend/components/albums/header/component.scss
  app/frontend/components/albums/header/component_preview.rb
  app/frontend/styles/application.scss
  config/locales/en.yml
  config/locales/ru.yml
  spec/frontend/components/album_spec.rb
  spec/frontend/components/albums/header_spec.rb
Due: rubocop, standardjs, stylelint

Componentify artist header
  app/frontend/components/artists/header/component.html.slim
  app/frontend/components/artists/header/component.js
  app/frontend/components/artists/header/component.rb
  app/frontend/components/artists/header/component.scss
  app/frontend/components/artists/header/component_preview.rb
  app/frontend/styles/application.scss
  spec/frontend/components/artists/header_spec.rb
Due: rubocop, standardjs, stylelint

yarn add stimulus 2.0
  app/frontend/init/stimulus.js
  app/frontend/packs/application.js
  guides/04_stimulus.md
  package.json
  yarn.lock
Due: standardjs

Add tabs component
  app/frontend/components/tabs/component.html.slim
  app/frontend/components/tabs/component.js
  app/frontend/components/tabs/component.rb
  app/frontend/components/tabs/component.scss
  app/frontend/components/tabs/component_preview.html.slim
  app/frontend/components/tabs/component_preview.rb
  app/frontend/components/tabs/controller.js
  spec/frontend/components/tabs_spec.rb
Due: rubocop, standardjs, stylelint

Add artist component
  app/frontend/components/artist/component.html.slim
  app/frontend/components/artist/component.rb
  app/frontend/components/artist/component_preview.rb
  app/frontend/components/artists/header/component.html.slim
  app/frontend/components/dashboard/component.html.slim
  app/models/album.rb
  app/models/track.rb
  app/views/artists/show.html.slim
  config/locales/en.yml
  config/locales/ru.yml
  spec/system/artist_spec.rb
Due: rubocop

Temp aside implementation
  app/frontend/components/albums/tile/component.html.slim
  app/frontend/components/tracks/tile/component.html.slim
  app/frontend/controllers/body_prop_controller.js
  app/frontend/init/stimulus.js
  app/views/layouts/application.html.slim
Due: standardjs

yarn add turbolinks
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/concerns/player_tracked.rb
  app/frontend/components/tracks/list/component.scss
  app/frontend/init/turbolinks.js
  app/frontend/packs/application.js
  app/views/layouts/application.html.slim
  app/views/layouts/core.slim
  guides/05_turbolinks.md
  package.json
  yarn.lock
Due: rubocop, standardjs, stylelint

Add home link to logo
  app/frontend/components/topnavbar/container/component.html.slim
Due: none

Add player component
  app/frontend/components/player/component.html.slim
  app/frontend/components/player/component.js
  app/frontend/components/player/component.rb
  app/frontend/components/player/component.scss
  app/frontend/components/player/component_preview.rb
  app/frontend/components/player/controller.js
  app/frontend/images/icons/solid/forward.svg
  app/frontend/images/icons/solid/pause_outline.svg
  app/frontend/images/icons/solid/play_outline.svg
  app/frontend/images/icons/solid/rewind.svg
  app/frontend/styles/application.scss
Due: rubocop, standardjs, stylelint

bundle add stimulus_reflex
  Gemfile
  Gemfile.lock
  app/controllers/concerns/player_tracked.rb
  app/frontend/components/player/component.html.slim
  app/frontend/components/player/controller.js
  app/frontend/components/tracks/list/component.html.slim
  app/frontend/init/stimulus.js
  app/reflexes/application_reflex.rb
  app/reflexes/player_reflex.rb
  app/views/layouts/application.html.slim
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  guides/06_stimulus_reflex.md
  package.json
  yarn.lock
Due: rubocop, standardjs

Configure Action Cable
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/frontend/init/cable.js
  config/cable.yml
Due: rubocop, standardjs

Refactor tile component to use content areas
  app/frontend/components/albums/tile/component.html.slim
  app/frontend/components/tile/component.html.slim
  app/frontend/components/tile/component.rb
  app/frontend/components/tracks/tile/component.html.slim
Due: rubocop

Migrate aside to reflex
  app/controllers/concerns/player_tracked.rb
  app/frontend/components/albums/aside/component.html.slim
  app/frontend/components/albums/aside/component.js
  app/frontend/components/albums/aside/component.rb
  app/frontend/components/albums/aside/component.scss
  app/frontend/components/albums/tile/component.html.slim
  app/frontend/styles/application.scss
  app/reflexes/album_reflex.rb
  app/reflexes/application_reflex.rb
  app/views/layouts/application.html.slim
Due: rubocop, standardjs, stylelint

Extract utils from player controller
  app/frontend/components/player/component_preview.rb
  app/frontend/components/player/controller.js
  app/frontend/utils/fake_audio.js
  app/frontend/utils/seconds_to_duration.js
Due: rubocop, standardjs

Minor player improvements
  app/frontend/components/player/component.html.slim
  app/frontend/components/tracks/list/component.html.slim
  app/frontend/utils/fake_audio.js
Due: standardjs

Update configuration for codespaces
  .devcontainer/devcontainer.json
  .dockerdev/docker-compose.yml
  config/environments/development.rb
Due: rubocop

Upgrade to stimulus_reflex 3.4
  Gemfile
  Gemfile.lock
  app/frontend/init/stimulus.js
  config/initializers/stimulus_reflex.rb
  package.json
  yarn.lock
Due: rubocop, standardjs

Add flash component
  app/frontend/components/flash/component.html.slim
  app/frontend/components/flash/component.rb
  app/frontend/components/flash/component_preview.rb
  spec/frontend/components/flash_spec.rb
Due: rubocop

Add flash component
  app/views/layouts/_flash.html.slim
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  standardjs: any of: *.js
  stylelint: any of: *.{css,scss}
