Repository palkan/ruby-russia-2020: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standardjs, stylelint

lefthook.yml:

# For more documentation, refer to:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
pre-commit:
  parallel: true
  commands:
    rubocop:
      tags: ruby style
      glob: "*.{rb,rake}"
      runner: bundle exec rubocop --parallel --force-exclusion {staged_files} && git add {staged_files}
    standardjs:
      tags: frontend style
      glob: "*.js"
      runner: yarn standard --fix {staged_files} && git add {staged_files}
    stylelint:
      tags: frontend style
      glob: "*.{css,scss}"
      runner: yarn stylelint {staged_files} && git add {staged_files}

Navigate in album
  .gitignore
  app/frontend/components/player/component.html.slim
  app/models/track.rb
  app/reflexes/player_reflex.rb
Due: rubocop

Previous and next buttons for player
  app/frontend/components/player/component.html.slim
  app/frontend/components/player/component.rb
  app/frontend/components/player/component.scss
  spec/frontend/components/flash_spec.rb
  spec/frontend/components/player_spec.rb
Due: rubocop, stylelint

Next prev actions for Artists and albums contexts
  app/frontend/components/album/component.html.slim
  app/frontend/components/artist/component.html.slim
  app/frontend/components/tracks/list/component.html.slim
  app/frontend/components/tracks/list/component.rb
  app/models/playlists/album.rb
  app/models/playlists/artist.rb
  app/models/track.rb
  app/reflexes/player_reflex.rb
Due: rubocop

edit - player - ++prev/next
  .dockerdev/docker-compose.yml
  app/frontend/components/player/component.html.slim
  app/frontend/components/player/controller.js
  app/frontend/utils/fake_audio.js
  app/reflexes/player_reflex.rb
Due: rubocop, standardjs

edit - Dashboard - ++search
  app/frontend/components/dashboard/component.html.slim
  app/frontend/components/topnavbar/search/component.html.slim
  app/models/album.rb
  app/models/concerns/search.rb
  config/locales/ru.yml
Due: rubocop

add - Album - отметка и показ альбома как любимого draft - Tracks - отметка и показ треков как любимых add - Favorites - страница списка любымых альбомов и треков
  .dockerdev/docker-compose.yml
  app/controllers/favorites_controller.rb
  app/frontend/components/albums/header/component.html.slim
  app/frontend/components/albums/header/component.rb
  app/frontend/components/favorites/component.html.slim
  app/frontend/components/favorites/component.js
  app/frontend/components/favorites/component.rb
  app/frontend/components/favorites/component.scss
  app/frontend/components/favorites/component_preview.rb
  app/frontend/components/tracks/list/component.html.slim
  app/frontend/components/tracks/list/component.rb
  app/models/album.rb
  app/models/favorite.rb
  app/models/track.rb
  app/models/user.rb
  app/reflexes/favorite_reflex.rb
  app/views/favorites/index.html.slim
  config/locales/ru.yml
  config/routes.rb
  db/migrate/20201121204909_create_favorites.rb
  db/schema.rb
Due: rubocop, standardjs, stylelint

fix - Tracks - N+1
  app/frontend/components/tracks/list/component.html.slim
  app/models/track.rb
Due: rubocop

fix - Top menu - ref to fav
  app/frontend/components/topnavbar/user/component.html.slim
Due: none

fix - Favorites - всё через current_user
  app/frontend/components/albums/header/component.html.slim
  app/frontend/components/favorites/component.html.slim
  app/frontend/components/tracks/list/component.html.slim
  app/models/favorite.rb
  app/models/track.rb
  app/models/user.rb
  app/reflexes/favorite_reflex.rb
Due: rubocop

edit - Favorites - переезд на polymorphic
  app/frontend/components/albums/header/component.html.slim
  app/models/album.rb
  app/models/favorite.rb
  app/models/track.rb
  app/models/user.rb
  db/migrate/20201121204909_create_favorites.rb
  db/schema.rb
Due: rubocop

fix - Album#aside - новый Fav...invert
  app/frontend/components/albums/aside/component.html.slim
  app/frontend/components/albums/header/component.html.slim
  app/frontend/components/dashboard/component.html.slim
  app/frontend/components/tracks/list/component.html.slim
  app/models/favorite.rb
  app/models/track.rb
  app/reflexes/favorite_reflex.rb
Due: rubocop

edit - dashboard - поиск первый
  .dockerdev/docker-compose.yml
  app/frontend/components/dashboard/component.html.slim
Due: none

upgrade - search - incremental wo reload page
  app/frontend/components/dashboard/component.html.slim
  app/frontend/components/dashboard/component.rb
  app/frontend/components/topnavbar/search/component.html.slim
  app/reflexes/search_reflex.rb
  app/views/dashboard/show.html.slim
  config/locales/ru.yml
Due: rubocop

fix - fake_audio - удаление rewind-forward
  app/frontend/utils/fake_audio.js
Due: standardjs
